<div class="col-start-1 col-end-9 p-3 rounded-lg">
  <div class="flex flex-row items-start">
    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-green-600 flex-shrink-0">
      G
    </div>
    <div class="relative ml-3 text-sm bg-black bg-opacity-25 pt-3 pb-2 px-4 shadow rounded-xl">
      <h3 class="text-1xl"><strong>Necesidad_Nro: </strong>{{Necesidad_Nro}}</h3>

      <ng-container *ngIf="Casos_de_Prueba.length > 0">
        <h3 class="text-1xl"><strong>Casos de prueba encontrados:</strong></h3>
        <ul>

          <li *ngFor="let prueba of Casos_de_Prueba" class="mb-4">
            <h4 class="font-bold">
              <h3 class="text-1xl"><strong>Prueba No: </strong>{{ prueba.IdPrueba || 'Null' }}</h3>
              <h3 class="text-1xl"><strong>Id Criterio Aceptación: </strong>{{ prueba.IdCriterioAceptacion || 'Null'}}</h3>
            </h4> <!-- Verificamos que la propiedad no sea vacía -->
            <h4 class="text-1xl "><strong>Título Prueba:</strong> {{ prueba.Titulo_prueba || 'Sin título' }}</h4>
            <h4 class="text-1xl "><strong>Descripción:</strong> {{ prueba.Descripcion_caso_prueba || 'Sin descripción' }}</h4>
            <h4 class="text-1xl "><strong>Pre-requisitos:</strong> {{ prueba.Prerrequisitos || 'No especificados' }}</h4>
            <h4 class="text-1xl "><strong>Pasos de prueba:</strong></h4>
            <ul>
              <!-- Dividimos la cadena de pasos por saltos de línea y luego iteramos sobre el arreglo -->
              <li *ngFor="let paso of prueba.Pasos_de_prueba.split('\n')">{{ paso }}</li>
            </ul>
            <h4 class="text-1xl "><strong>Resultado esperado:</strong> {{ prueba.Resultado_esperado || 'No especificado' }}</h4>
          </li>
        </ul>
      </ng-container>

      <ng-container *ngIf="Casos_de_Prueba.length === 0">
        <p>No se encontraron casos de prueba.</p>
      </ng-container>
    </div>
  </div>
</div>
