<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">

      <!-- Chat Message -->
      <app-chat-message text="Indica los criterios de aceptación"
      />

      <!-- Ciclo para mostrar los mensajes -->
      <ng-container *ngFor="let message of messages(); trackBy: trackByText">
        <ng-container *ngIf="message.isGpt; else userMessage">
          <!-- Mensajes de respuesta de GPT con información de Casos de Prueba -->
          <app-gpt-message-get-deck-tests
            [Necesidad_Nro]="message.info?.Necesidad_Nro ?? 0"
            [Casos_de_Prueba]="message.info?.Casos_de_Prueba || []" 
          ></app-gpt-message-get-deck-tests>
        </ng-container>
        <!-- Mensajes del usuario -->
        <ng-template #userMessage>
          <app-my-message [text]="message.text" />
        </ng-template>
      </ng-container>


      @if (isLoading()) {
        <app-typing-loader />
       }

    </div>
  </div>

   <!-- MessageBox -->
   <app-text-message-box
   placeholder="Escribe aquí lo que deseas"
   (onMessage)="handleMessage($event)"
   />

</div>
